body {
    background: rgb(28,3,48) !important;
    /* font-family: 'Open Sans' !important; */
    font-size: 100%;
    overflow-x: hidden !important;
}

/* header  */
.Header_main_container {
    background: #1C0330;
    color: #FAF8FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    /* position: fixed; */
    /* width: 100%; */
}
.header {
    background: #1C0330;
    height: 100px;
    align-items: center;
    display: flex;
}

.sub-header {
    background: #33084C;
    height: 55px;
}

.navbar-nav .header-nav-link {
    color: #FAF8FB;
    padding: 0px 1rem !important;
    font-style: normal;
    font-weight: 300;
    font-size: 20px !important;
    line-height: 158%;
    letter-spacing: 0.004em;
    text-decoration: none;
}
.navbar-nav .header-nav-link:active, .navbar_profile_text:active {
    font-weight: 500 !important;
    color: #DD45B3 !important;
    text-decoration: none;
}


.nav-link {
    color: #FAF8FB !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
}

.navbar_profile_text {
    top: -2px;
    position: relative;
}
.active {
    font-weight: 500 !important;
    color: #DD45B3 !important;
    text-decoration: none;
}

.invalid-feedback{
    color: #DD45B3 !important;
}

.header-search-btn {
    width: 4rem;
    height: 2.5rem;
    background: #DD45B3;
    border-radius: 4px;
    margin-left: 4px;
    color: #EEEDE8;
    line-height: 114%;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1rem;
    border: none;
}

.reset-password{
    background-color: white !important;
    outline: none !important;

}

.link-style{
    color: #971e9b;
    font-size: 14px;
    font-style: italic;
    outline: none;
    text-decoration: none;
}

.btn-link-style{
    text-decoration: none;
}
.ancor-link-style{
    text-decoration: none;
    color: white;
}

.add-proj-btn {
    border: 1px solid #DD45B3;
    color: #DD45B3;
    background: #33084C;
    height: 2.5rem;
    line-height: 114%;
    border-radius: 4px;
    width: 9rem;
}

.search ::placeholder, .text_fff {
    color: #FFFFFF !important;
}

.mt-4-5{
    margin-top: 2.5rem;
}

.outline{
    outline: 0 !important;
}

.otp-timer {

    padding-right: 10px;

}
.display-none{
    display: none;
}

.disable-resend {
    color: #FAF8FB !important;
}

.for_authtoast {
    position: fixed;
    right: 18px;
    top: 25px;
    z-index: 3;
}

/* home page  */

.main-body {
    background: rgb(28,3,48);
    color: white;
}

.section .sub-section {
    width: 100%;
    display: block;
    height: 483px;
}
.home_subsection {
    margin-top: 2rem;
}

.main_slider .item .home-upper-slider {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(28, 3, 48, 0) 65.92%, #1C0330 100%);
}

.carosel-card-cntainer .watch-now-btn, .watch-now-btn a {
    width: 111px;
    height: 40px;
    background: #971E9B;
    border-radius: 4px;
    border: none;
    color: #ffff;
    text-decoration: none;
}

.carousel-header-text h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #FAF8FB;
}
.plain_header {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.01em;
    /* color: #FAF8FB; */
}

/* .imgcroper-container {
    min-height: 300px;
    background: whitesmoke;
} */
.crop_input_label {
    font-size: 18px;
    color: #3e3e3e;
    font-weight: 400;
    margin-bottom: 8px;
}
.crop_input_width {
    width: auto;
    padding: 8px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
}
.save_btn {
    height: 40px;
    width: 100%;
    background: whitesmoke;
    border: 2px solid palevioletred;
    border-radius: 10px;
}
/* .cropper-container {
    width: 100% !important;
    height: 100% !important;
} */

.carousel-card-container {
    padding: 1.25rem;
}

.img-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(28, 3, 48, 0) 65.92%, #1C0330 100%);
}

.project-img-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 172px;
    background: linear-gradient(180deg, rgba(28, 3, 48, 0) 65.92%, #1C0330 100%);
}

.opacity-title{
    opacity:0.5;
}

.carosel-card-cntainer {
    position: absolute;
    top: 0px;
    left: 1rem;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(28, 3, 48, 0) 65.92%, #1C0330 100%);
}

.secondry-card-top-container {
    position: absolute;
    top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #FAF8FB;
}

.secondry-card-bottom-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 18px;
    color: #FAF8FB;
    padding: 20px;
}

.secondry-card-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #FAF8FB;
}

.project-text {
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #FAF8FB;
}

.project-sub-text {
    width: 500px;
    font-weight: 300;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #FAF8FB;
}

.duration-lang-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #DD45B3;
}

.fw_300 {
    font-weight: 300 !important;
    margin-top: 0 !important;
}
.dropdown-toggle::after {
    color: #DD45B3 !important;
}

.form-control {
    background-color: transparent;
    border: 0 0 1px solid #FAF8FB 0 !important;
}

.header-search-form .searchButton i {
    color: #DD45B3;
    ;
}

.header-search-form .search {
    width: 100%;
    position: relative;
    display: flex;
}


.header-search-form .searchTerm {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #FAF8FB;
    border-right: none;
    padding: 5px;
    border-radius: 0px;
    outline: none;
    color: #ffff;
    background-color: transparent;
}

.header-search-form .searchButton {
    width: 40px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #FAF8FB;
    background: transparent;
    text-align: center;
    color: #DD45B3;
    border-radius: 0;
    cursor: pointer;
    font-size: 20px;
}
.home-dropdown a:hover {
    color: #4D0D8A;
}
.home-dropdown ul {
    padding: 8px 0px;
    width: 10rem;
    background: #33084C;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}

.home-dropdown ul li {
    display: flex;
    align-items: center;
    margin: 15px;
}

.home-dropdown ul li input {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    margin-top: 0;
}

.nav-drop{
    height: 60vh;
    overflow: auto;
    width: 200px;
    overflow-x: hidden;
}

.text_decor_none {
    text-decoration: none !important;
    color: white !important;
}
.text_user_name {
    text-decoration: none !important;
    color: #33084C !important;
}
.btn:focus  {
 box-shadow: none !important;
}
/* footer  */

.footer {
    background: #33084C;
    color: #FAF8FB;
    padding-top: 50px;
}

.footer .row {
    padding: 1rem 0;
}

.footer a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #FAF8FB;
}

.sub-footer {
    display: flex;
    justify-content: center;
}

.info-ul {
    float: left;
    margin-left: 2px;
    padding: 0.5rem;
}

.info-ul li {
    display: inline-block;
    text-align: justify;
    padding: 1rem;
}


/* sign up/ in  */

.auth_section {
    background: #33084C !important;
    padding: 0 28%;
    min-height: 100vh;
    overflow: hidden;
}

.before_login_section {
    padding: 5% 30%;
}

.main {
    color: #FAF8FB;
     background: rgb(28,3,48);;
}

.signup-container {
    background: #33084C !important;
    /* padding: 0 35%; */
}
.signup-text {
    font-weight: 600;
    font-size: 28px;
    line-height: 124%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #FAF8FB;
}

.signup-container input {
    border-radius: 4px;
    border: none;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;
    color: #4D0D8A;
    padding-left: 15px;
}

.signup-container button, .job_search_btn  {
    width: 100%;
    height: 40px;
    background: #971E9B;
    border-radius: 4px;
    border: none;
    color: #FAF8FB;
}

.with_google_btn {
    width: 100%;
    height: 40px;
    background: transparent !important;
    border-radius: 4px;
    border: 2px solid #971E9B !important;
    color: #FAF8FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
}
.help-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    text-align: end;
    color: #FAF8FB !important;
}

.bottom-container {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.018em;
    padding: 1.5rem;
    color: #FAF8FB;
}

.aleady-text {
    letter-spacing: 0.004em;
    font-size: 20px;
    line-height: 158%;
}
.proctect_by_capta_text {
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.018em;
    color: #FAF8FB;
}
.crowdfund_text {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.0275em;
    color: #1C0330;
    text-decoration: none;
}
.sign_now_text {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.0075em;
}
::placeholder {
    /* Microsoft Edge */
    /* color: #4D0D8A; */
    color: black;
}

.login_sidewraper {
    overflow: hidden;
    max-height: 100vh;
}
.register_sidewraper {
    overflow: hidden;
    max-height: 850px
}

/* search page  */


.result-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #FAF8FB;
}

.side-bar-cmn-part {
    padding: 1.5rem !important;
    background: #FFFFFF;
    border-radius: 4px;
    height: 80vh;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 160px;

}

.pagination{
    margin-top: 36px;
}

.page-link {
    z-index: 3;
    color: #33084C ;
    background-color: transparent !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #971E9B ;
    background-color: transparent !important;
    border-color: #971E9B !important;
}

.search-box-container {
    display: flex;
    flex-direction: column;
}

.search-box-container form {
    height: 40px;
    display: flex;
    padding: 2px;
    justify-content: space-between;
    border: 2px solid #4D0D8A;
    border-radius: 4px;
    margin: 0;
}

.search-box-container form input {
    border: none;
    color: #4D0D8A;
    text-decoration: none;
    outline: none;
}

.search-box-container .search-btn {
    width: 40px;
    border: none;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
}

.search-page .dropdown-toggle {
    padding: 10px 10px 10px 0 !important;
    font-weight: 400;
    font-size: 16px;
    color: #1C0330;
    align-items: center;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 0;
}

.dropdown-toggle::after {
    color: #971E9B !important;
    font-size: 20px !important;
}

.search-result-card {
    background: #FAF8FB;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    border-bottom: 1px solid;
}

.form-check .form-check-input {
    width: 20px;
    height: 20px;
    border: 2px solid #4D0D8A;    
}

.form-check-input:checked {
    background-color: #4D0D8A;

}

.verified-text {
    font-size: 14px;
    padding-top: 4px;
    letter-spacing: 0.018em;
    color: #4D0D8A;
    line-height: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
}

.filter-button{

    padding: 6px 16px;

    width: 130px;
    height: 40px;

    /* Aubergine */
    color: #EEEDE8;
    background: #4D0D8A;
    border-radius: 4px;
    border-color: transparent;

}

.clear-filter{
    padding: 6px 16px;

    width: 130px;
    height: 40px;

    /* Aubergine */
    color: #4D0D8A;
    background: transparent;
    border-radius: 4px;
    border-color: transparent;
}

.add_content_wraper {
    padding: 10px 0px;
}

.add-another-item {min-height: 100px;}

.add-another-item > div{
    margin-bottom: 31px;
}

.cancel-img-upload {
    display:none;cursor:pointer;position:absolute;top:0;right:0;padding: 10px 14px;color: #4D0D8A;
}
.delete-doc {cursor: pointer;}
.mid-col {margin-left:12px;}
/*.row.photo-sec {min-height: 330px;}*/

#add-img-btn-div.add-another-item  > div{
    margin-bottom: 31px;
}

.img-item {
    padding-top: 15px;
}

.mk-feature {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.018em;
    color: #4D0D8A;
}

.search-head-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #4D0D8A;
}

.search-head-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #33084C;
}

.aubergine {
    color: #4D0D8A !important;
}
.pointer {
    cursor: pointer;
}
.white {
    color:#FAF8FB !important;
}
.candy-pink {
    color: #DD45B3 !important;
}
 .curv_cmn_btn {
    background: #971E9B;
    border-radius: 99px;
    width: auto;
    height: 32px;
    max-height: auto;
    border: none;
    padding: 6px 10px;
    color: #FAF8FB;
    line-height: 19px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.018em;
    margin: 2.5px 2px;
}

.search-table-body td {
    border-style: none;
    padding: 0.25rem 0 !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150% !important;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #1C0330;
}

.pagination {
    float: right !important;
}

.pagination .page-item {
    margin-left: 14px;
    background: white;
}

.pagination .page-link {
    color: #212B36;
    border-radius: 4px;
}

.page-link :active {
    border: 2px solid #971E9B !important;
    border-radius: 4px !important;
    color: #971E9B;
}


.modal-content {

    background-color: #33084c;

}
.list-group-item{
    text-align: left;
}
.not-found-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 36px;
    color: #971E9B;
}
/* contact us page  */

  .contact-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 600;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.026em;
}
.contact-page-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}
.contact-page-subtext {
    font-weight: 300;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
}
.contact-form {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    background: transparent;
}
 .cantact-page-cmn-btn {
    padding: 0px 16px;
    height: 40px;
    background: #971E9B;
    border-radius: 4px;
    border: none;
    color: #FAF8FB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form .w-20 {
    width: 5rem !important;
}
.follow-us-container {
   display: flex;
}
.follow-us-container .follow-us-options {
    display: flex;
    padding: 0;
}
.follow-us-container .follow-us-options li {
    list-style-type: none;
    padding-right: 2rem;
}

/* public-view page  */

.public-head-section .img-container{
    /* position: relative; */
    display: inline-block;
    /* font-size: 0; */
    background-image:url("../images/asset/publicview-head-img.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.public-head-image-shadow {
    background: rgba(28, 3, 48, 0.4);
}
.verified-text-area {
    display: flex;
    align-items: center;
}
.verified-text-area .verified-btn , .verified-btn {
    border: 1px solid #DD45B3;
    border-radius: 4px;
    padding: 4px;
    color: #DD45B3;
    background: transparent;
}
.filter_wrap
{
    padding: 2% 2% 2% 2% !important;
}
.public_section {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}
.public_subsection {
    margin-top: 2.5rem;
}
.public-head-container {
    /* position: absolute; */
    padding-top: 3rem;
    color: #FAF8FB;
    font-weight: 600;
    width: -webkit-fill-available;
}
.contact-btn {
    background-color: #971E9B;
    color: red;
    padding: 4px 10px;
}
.public-head-text {
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.01em;
    /* color: #FAF8FB; */
}
.public-head-subtext {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 150% !important;
    letter-spacing: 0.0075em !important;
    color: #FAF8FB;
}
.hours-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.022em;
    color: #DD45B3;
}
.search-table-body tr td {
    width: 40%;
}

.public-head-subimage {
    border-radius: 4px;
}
.public-heading-text {
    font-weight: 600;
    /* font-size: 34px; */
    font-size: 2.125rem;
    line-height: 110%;
    color: #FAF8FB;
}
.public-subheading-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #FAF8FB ;
}
.doc_container {
    align-items: center;
    padding: 8px 24px;
    width: 100%;
    height: 65px;
    background: rgba(28, 3, 48, 0.05);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.search-table-body tr  th {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    border-style: none;
    padding: 0.25rem 0 ;
}

.icon-size {
 font-size: 22px !important;
}
.heart-color {
   color: #C13D4F;
}
.info_btn_icon {
    position: relative;
    right: 35%;
}

.doc-list .col-md-3 {min-height: 86px;}

/* guide profile page  */
.verified_cmn_btn {
    display: flex;
    align-items: center;
    padding: 2px 4px;
    height: 20px;
    background: #FAF8FB;
    color: #DD45B3;
    font-size: 8px;
    line-height: 120%;
    border: 0.5px solid #DD45B3;
    border-radius: 4px;
}
 .bg_white {
    background: rgb(250,248,251) !important;
}
.deep-pink {
    color: #971E9B !important;
    text-decoration: none;
}
.candy-pink {
    color: #DD45B3 !important;
}
.deep-aubergine {
    color: #33084C;
}
.Deep-aubergine {
    border: 1px solid #33084C !important;
}
.Aubergine {
    color: #4D0D8A;
}

.bg_white .guide_profile_section {
    padding: 2%
}
.guide_profile_section .content_wraper, .job_wraper {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

} 
.guide_profile_section .guide_profile_subsection {
    padding: 1rem 1.25rem;
    border-bottom:  1px solid #D2D2D2;
}
.user_profile_container {
    border-radius: 100%;
    /* border: none; */
    display: flex;
    background: transparent;
    inline-size: fit-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border: 1px solid;
}

.guide_profile_main_text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.0075em;
    color: #33084C;
}
.style_ilatian {
    font-style: italic !important;
}
.mt__3 {
    margin-top: -3px;
}
.font_24 h1, .font_24 {
    font-size: 24px;
}
.font_12 {
    font-size: 12px !important;
}

.font_18 h1 {
    font-size: 18px ;
}
.w_80 {
    max-width: 500px;
}
.Aubergine_at_night {
    color: #1C0330 !important;
}
.add_new_doc_btn {
    margin-bottom: 20px
}
.guide_profile_main_subtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #33084C;
    word-break: break-all;
    max-height: 40px;
    overflow: hidden;
}
.public_view_main_subtext {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: white;
    word-break: break-all;
    max-height: 40px;
    overflow: hidden;
}
.guide_profile_btn, .guide_profile_btn a {
    padding: 6px 16px;
    background: #4D0D8A;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}
.guide_gallery_btn {
    padding: 9px 16px;
    background: #4D0D8A;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
}
.w_150 {
    width: 150px;
}
.h_40 {
    height: 40px;
}
.mt__150 {
    margin-top: -150px;
}
.profile_icon {
    font-size:25px !important; 
    color:#DD45B3;
    background-color: white;
    border-radius: 50%;
    border:none
}
.ml_10 {
    margin-left: 10px !important;
}

/* profile pages  */

.profile-section {
    /* background: rgb(250,248,251) !important; */
    padding: 2% 5%;
}
.profile_side_bar {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 80vh;

}
.profile_wraper_padding {
    padding: 22px 30px !important;
    /* margin: 10px 0px 50px 0; */
}
.profile_wraper {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.br_0 {
    border-radius: 0 !important;
}
.sidebar_content {
    padding: 10px;
}
.sidebar_content a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #1C0330;
    text-decoration: none;
}
.sidebar_content_hr {
    border-bottom: 1px solid #D2D2D2;
    margin: 0;
    background-color: transparent;
    border-top: none !important;
}
.profile_text h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #1C0330;
}
.profile_cmn_head_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #1C0330;
}
.back_btn_profile {
    letter-spacing: 0.0075em;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #1C0330;
}
.profile_upload_text, .togle_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 126%;
    letter-spacing: 0.033em;
    color: #000000;
    margin-top: 8px;
    text-decoration: none;
}
.upload_img_container {
    border: 1px dashed #4D0D8A;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
}
.user_imge {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.profile_input {
    margin-top: 16px;
}
.profile_input.add-new-image {
    display: none;
    margin-top: 21px
}
.mt_16 {
    margin-top: 16px;
}
.profile_input input:focus, .form-control:focus, select:focus{
    outline: none;
    box-shadow: none !important;
    box-shadow:none !important;
    border: 1px solid #4D0D8A !important;
}
.form-control:focus {
    border: 1px solid #4D0D8A !important;
    box-shadow:none !important;
    
}
.profile_input label, label {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #787885;
}
.profile_input input, select, .modal_input {
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #4D0D8A;
    border-radius: 4px;
    height: 40px;
    /* color: #BDBDBD; */
}
.profile_input textarea {
    background: #FFFFFF;
    border: 1px solid #4D0D8A;
    border-radius: 4px;
    min-height: calc(7em + 0.75rem + 2px) !important;
}
.profile_dropdown_btn {
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #4D0D8A;
    border-radius: 4px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    /* position: initial !important; */
}
.profile_dropdown_btn .dropdown-toggle::after {
    color: #4D0D8A !important;
    font-size: 20px !important;
}
.profile_dropdown_menu li a {
   color: #4D0D8A !important;
   padding: 7px;
   font-size: 16px;
   width: 100%;
   text-decoration: none !important;
}
.cancel_btn, .cancel_btn a  {
    background: transparent !important;
    border: none;
    color: #4D0D8A !important;
    font-weight: 700;
}
.save_add_btn, .save_add_btn a  {
    padding: 6px 16px;
    background: #FAF8FB;
    border-radius: 4px;
    height: 40px;
    border: none;
    color: #971E9B;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.progress-bar {display:none;position:absolute;height:10px;width:100%;background:#971e9b33;bottom:24px;border-radius:4px;overflow: hidden;}
.fill-progress {width:10px;height:100%;background-color: #971e9b;border-radius: 4px;}
.open_file_explorer .progress-bar {bottom:0}
#previewImg {width: 100%; height: auto;display: none;}
.profile_upload_container {
    border: 1px dashed #4D0D8A;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    overflow: hidden;
    background: #f2f2f2
}

/* Organisation page */

.upload_logo_container {
    height: 123px;
    width: 123px;
    background: #C4C4C4;
    border-radius: 100%;
}
.organisation_cmn_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    font-feature-settings: 'ss01' on;
    color: #1C0330;
}
.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FAF8FB;
    border-radius: 99px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

/* project page */

.width_inheritence {
    width: inherit;
    min-height: 170px;
    max-height: 170px;
}
.project_card_data {
    position: absolute;
    top: 0px;
    padding: 15px;
    display: flex;
    justify-content: end;
    font-size: 15px;
    color: #FAF8FB;
    background: rgba(28, 3, 48, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    z-index:1;
}

.delete-icon.project_card_data {
    z-index:2;
    background: none;
}

.title.project_card_data {
    bottom: 0;
    left: 0;
    justify-content: flex-start;
    align-items: flex-end;
}

.project_card_data p {text-shadow: 1px 1px #3e3e3e; font-weight: 600;max-height: 40px;margin-bottom: -5px;line-height: 22px;}
.movie_name_text {
    font-weight: 600;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #1C0330;
    margin-top: 5px;
}

/*Project flow */
.flow_container {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin: auto;
    background: #971E9B;
}

.active_bg{
    background: #971E9B;
}

.inactive_bg{
    background: RGB(200, 139, 203);
    /* background: #971E9B;
    opacity: 1; */
    z-index: 9999;
    position: relative;
}

.flow_hr {
    z-index: -1;
    opacity: 0.5;
    border: 2px solid rgb(200,139,202);
    background-color: rgb(200,139,202);
    width: 100%;
    margin: -3% -2.5% 0 -2.5%;
}

.flow_hr_bold {
    opacity: 1;
    z-index: -1;
    position: relative;
    /* opacity: 0.5; */
    /* opacity: 0.5; */
    /* border: 2px solid #971E9B; */
    border: 2px solid rgb(200,139,202);
    /* background-color: #971E9B; */
    background-color: rgb(200,139,202);
    width: 100%;
    margin: -3% -2.5% 0 -2.5%;
    
}
.opc_5 {
/* opacity: 0.5; */
}

.ml__3 {
    margin-left: -3%;
}

/* .ml__2 {
    margin-left: -2%;
}
.mr__2 {
    margin-right: -2%;
}
.mr_0 {
    margin-right: 0;
}
.ml_0 {
    margin-left: 0;
} */
.mr__3 {
    margin-right: -3%;
}
.w__17 {
    width: 17%;
}
.bg_3308 {
    background: #33084C !important;
}
.invite_btn {
    background: #971E9B !important;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.054em;
    color: #FAF8FB !important;
    width: 100%;
    border: none;
    height: 40px;
}
.flow_step_text {
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
    color: #1C0330;
}
.checkbox_btn input {
    color: #4D0D8A !important;
    background: #4D0D8A !important;
    width: 20px;   
}
.associate_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.0025em;
    color: #1C0330;
}
.h_66 {
    height: 194px !important;
    overflow: hidden;
}
.h_69 {
    height: 69px;
}
.upload_doc .h_69 {
    height: 65px;
}
.delete-media {
    cursor: pointer;
}
.document_pdf {
    align-items: center;
    padding: 12px 24px;
    display: flex;
    height: 69px;
    background: rgba(28, 3, 48, 0.05);
    background: rgba(28, 3, 48, 0.05);
    border-radius: 4px;
    justify-content: space-between;
}
.document_pdf_project {
    background: RGB(50, 28, 68) !important;
}
.preview_headtext {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.0025em;
    color: #971E9B;
    margin-top: 14px;
}
.preview_subtext{
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #1C0330;
    margin-top: 8px;
}
.mt_35 {
    margin-top: 30% !important;
}
.tile_text {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.0075em;
    color: #33084C;
  }
  
.deactivate_btn {
    padding: 6px 16px;
    height: 40px;
    background: #FAF8FB;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.054em;
    color: #C13D4F;
}

button, input, optgroup, select, textarea {
    padding-left: 5px;
}

/* posted job section */
.posted_job_header, .posted_job_header .posted_job_header_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.022em;
    color: #080707;
    text-decoration: none;
    margin-top: 8px;
}
.post-job{
    width: 170px;
}
.lh_54 {
    letter-spacing: 0.054em;
}
/* endorsement page style  */
.toggle.ios,  .toggle-off.ios { border-radius: 360px; background: #C8C8C8;border: none; }
.toggle.ios .toggle-handle { border-radius: 360px; background: white; border-width: 0px 10px; border: none; }
.toggle.ios .toggle-on.ios {
    border-radius: 360px; background:   #971E9B; border: none;
}

.bg_dee-pink {
    background: #971E9B;
}
/* user verification section  */

.cmn_verification_container {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 30px !important;
    min-height: 65vh;
}
.upload_resume_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.054em;
    font-feature-settings: 'ss01' on;
    color: #4D0D8A;
}
/* modal style */
.modal_container {
    background: #33084C;
    text-align: center;
    padding: 10%;
    padding-bottom: 5%;
}
.filter_options
{
    min-width: 150px;
    margin-bottom: 0.5%;
}
.filter_modal_wrap
{
    width: auto;
    max-width: 80vw;
}
.no-padding
{
    padding:0 !important;
}
.filter_modal_wrap .filter_option_wrap
{
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 4px;
    overflow-x: hidden;
}

.modal-close-filter{
    background-color: white;
    color: #33084c;
    margin-top: 10px;
}
.modal_container .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    Width:140px;
    Height:140px;
    border-radius: 100%;
    margin: 0 auto;
}
.modal-header .close {
    background-color: #971E9B;
    border-radius: 100%;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 35px;
    height: 35px;
}
.done {
    background-color: #72C850;
}
.warning {
    background-color: #FF6660;
}
.icon_container .icon_style {
    color: #FFFFFF;
    font-size: 80px;
}
.modal_container .head_text {
    font-weight: 600;
    font-size: 34px;
    line-height: 110%;
    color: #FAF8FB;
}
.modal_container .sub_text {
    font-weight: 300;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #FAF8FB;
}
.submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    background: #DD45B3;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
}
.cancel_btn {
    padding: 9px 16px;
    font-size: 14px;
    background: #FAF8FB;
    border-radius: 4px;
    color: #1C0330;
    border: none;
}
.delete_btn {
    padding: 9px 16px;
    font-size: 14px;
    background: #C13D4F;
    border-radius: 4px;
    color: #EEEDE8;
    border: none;
}

.list-modal{
    background: #33084c;
    display: flex;
    justify-content: right;
    padding: 8px 6px;
}

.sidebar_contant a:hover {text-decoration: none !important;}

 .select2-container--default .select2-selection--multiple .select2-selection__choice {
    /* background: #33084c; */
    opacity: 1;
    padding: 1px 5px;
        /* color: #555; */
}

.select2-container--default .select2-selection--multiple {
    padding-right: 20px !important;
}
.select2-container--default .select2-selection--multiple::after {
    position: absolute;
    right: 2px;
    top: 25%;
    -webkit-font-smoothing: antialiased !important;
    content: url("data:image/svg+xml;utf8,<svg fill='rgb(77, 13, 138)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
}

.profile_input input:focus, .form-control:focus, select:focus {
    /* border: transparent !important; */
}

.sidebar_content a:hover {text-decoration: none !important;}
.font_12 {
    font-size: 12px !important;
}
  .select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #4D0D8A;;
    border-radius: 4px;
    background-color: #FFFFFF;
    vertical-align: middle;
    margin-right: 8px;
  }
  .select2-results__option[aria-selected=true]:before {
    content: url("../images/asset/done_icon_15.jpg") !important;
    height: 20px;
    width: 20px;
    border: 0;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
  }
  .select2-container--open .select2-dropdown--below {
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .select2-container--default .select2-selection--multiple {
    border: 1px solid #4D0D8A !important;
    border-radius: 4px !important;
    height: auto !important;
    display: flex;
    align-items: center;
    min-height: 40px;
  }
  .select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
  }
  .select2-container--default .select2-search--inline .select2-search__field  {
    padding-left: 10px !important;
    width: 100px !important;
  }
  .select2-results__option {
    color: #4D0D8A !important;
    font-weight: 300 !important;
  }
  .select2-container--default .select2-results>.select2-results__options {
    width: 100% !important
  }
  .select2-container--default .select2-search--inline .select2-search__field {
    min-height: 40px;

  }
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin: -4px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 6px !important;
    margin-left: 6px !important;
}
  .skill_container {
    float: left;
    margin: 0px 10px 10px 0px;
  }
  .mw_60 {
    max-width: 600px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.portfolio_item {
    width: 300px;
    height: 250px;
    padding:1%;
}
.portfolio .portfolio_img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

.input_wraper {
    /* height: 143px; */
    background: rgba(246, 239, 251, 0.8);
    border-radius: 4px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* margin: 0 5%; */
    margin: 60px 30px;
}
.m_0 {
    margin: 0 !important;
}
.br_100 {
    border-radius: 100%;
}
select  option, .radio_btn_label{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px !important;
    letter-spacing: 0.018em !important;
    color: #4D0D8A !important;
    margin: 18px 10px !important;
}
.job_input input {
    background: #FFFFFF;
    border: 1px solid #4D0D8A;
    border-radius: 4px;
    width: 100%;
}
.bg_linear {
    background: rgba(28, 3, 48, 0.43);
    /* background: linear-gradient( #1C0330 30.66%, rgba(28, 3, 48, 0)); */
}
.pb_8 {
    padding-bottom: 90px;
}
.w_100 {
    width: 102%;
}
.port_modal_image {
    width: 500px;
    height: 350px;
    overflow: hidden;
}
.modal_btn .modal_cross_btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #DD45B3;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 100%;
    color: #DD45B3;
}
.modal_btm_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FAF8FB;
}
.plan_subheader {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.018em;
}
.modal_check_input:checked {
    background-color: #DD45B3 !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgb(77, 13, 138)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
    background-repeat: no-repeat !important;
    background-position-x: 100% !important;
    background-position-y: 5px !important;
  }
.favourite_img_card {
    width: 100%;
    height: 215px;
}
.plan_wraper {
    background: #1C0330;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.025em;
    padding-bottom: 145px;
}
.active_plain_button {
    background: #33084C;
    -webkit-transition: all 0.5s ease-out;
}
.plan_card {
    /* background: #FAF8FB; */
    /* padding: 20px; */
    border: 1px solid transparent;
}
/* .plan_card :active {
    border: 2px solid;
} */
.card_highlight {
    -webkit-transition: all 0.5s ease-out;
    border: 1px solid;
}
.plain_industry_guide {
    background: #f1ecf5;
    height: 272px;
    /* opacity: 0.05; */
}
.industry_guide_text {
    position: absolute;
    left: 65px;
    padding: 12px;
}
.project_text {
    position: absolute;
    left: 65px;
    width: 158px;
    padding: 12px;
}
.plain_job {
    background: #f1ecf5;
    height: 58px;
}
.plain_project {
    background: #f1ecf5;
    height: 110px;
}
.plain_page_list ul li {
    color: #1C0330 !important;
}
.Plain_price {
    text-align: center;
    padding: 26px 0 48px;
}
.plain_detail {
    background: #FFFFFF;
    padding: 24px 18px;
    color: #1C0330;
    
}
.active_plain_detail {
    background: #4D0D8A;
    /* padding-bottom: 2px; */
    color: #FFFFFF;
    /* -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out; */
    transition: background-color 0.5s ease-out;
}
.plan_btn_wraper {
    background: #412d51;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 40px;
    /* opacity: 0.2; */
}

.plan_btn {
    background: #412d51;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    height: 38px;
    text-align: center;
    letter-spacing: 0.054em;
    color: #FAF8FB;
    /* opacity: 1; */
}

.plan_btn:focus {
    border-radius: 4px;
    opacity: 1;
    transition: background-color 1s ease-out;
    background: #FFFFFF;
    color: #1C0330;
}
/* .plan_btn_wraper .active {
    border-radius: 4px;
    opacity: 1;
    background: #FFFFFF;
    color: #1C0330;
} */

.mt__158 {
    margin-top: -158px;
}
.currency_togle {
    display: flex;
    justify-content: end;
    margin-bottom: -50px;
    align-items: center;
}


.currency_togle .switch {
    position: relative;
      display: inline-block;
      width: 42px;
      height: 20px;
  }
.time_togle  .switch {
    position: relative;
      display: inline-block;
      width: 220px;
      height: 42px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .currency_togle .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
.time_togle  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #971E9B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
 .currency_togle .slider.round {
    padding-right: 47px;
    border-radius: 34px;
  }
 .time_togle .slider.round {
    /* padding-right: 47px; */
    border-radius: 4px;
    background: #D9D9D9;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  /* Loader */
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding: 10px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid #971E9B;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #971E9B transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



  @media (max-width: 600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        /* max-width: 1365px !important; */
    }
    .content_wraper {
        margin-bottom: 50px;
    }
    .guide_profile_subsection {
     padding: 1rem 0 !important;
    }
    .profile_input {
       margin-top: 6px;
    }
    .profile_wraper_padding {
        padding: 22px 15px !important;
    }
    .pb_8 {
        padding-bottom: 0px;
    }
    .side-bar-cmn-part {
        height: auto;
        margin-bottom: 16px;
    }
    .auth_section {
        padding: 0 10%;
    }
    .mt-4-5 {
        margin-top: 22px;
    }
    .flow_container {
        width: 32px;
        height: 32px;
    }
    .flow_hr {
        /* z-index: -1; */
        /* opacity: 0.5; */
        border: 1px solid rgb(200,139,202);
        /* background-color: rgb(200,139,202); */
        /* width: 100%; */
        /* margin: -10% -9.5% 2px -9.5%; */
        margin: 0;
    }
    .flow_hr_bold {
        border: 1px solid rgb(200,139,202);
        margin: 0;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
    .navbar-toggler {
        position: absolute;
        right: 10px;
    }
    .navbar_sm {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 4px;
        margin-left: 120px;
        padding-bottom: 10px;
    }
    .navbar-nav .header-nav-link {
        color: #212B36;
    }
    .navbar_profile_text {
        color: #212B36;
        margin-right: 16px;
        margin-left: 6px;
    }
    }